
<% if @faq_category.errors.any? %>
<div class="finish">
<p>入力内容に<em>エラー</em>があります。</p>
</div>
<% end %>

<table class="form_area">
<tr>
<th scope="row">カテゴリー名称</th>
<td><%= f.text_field :name, :class => 'text2' %>
<%= error_on(:faq_category, :name) %></td>
</tr>
</table>