<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>よくある質問 カテゴリー設定</h2>
    <p class="text_set" style="color:#C00">新しいよくある質問 カテゴリーを登録できます。 <br />
    </p>
    <div class="section">
    　　<%= form_for :faq_category do |f| %>

    　　　　<%= render 'form', :f => f %>

    	　　<p class="change"><input type="image" src="/images/ar_admin/form/btn_regist.jpg" alt="登録する" class="nav" /></p>
    	<% end %>
    </div>
    <div class="section">
    　　<table class="news_list">
    　　　<tr>
      		<th class="sort_switch" scope="col">ソート</th>
      		<th class="sort" scope="col">表示順</th>
      		<th class="id" scope="col">カテゴリー名称</th>
      		<th class="method" scope="col">処理</th>
      	</tr>

    	<% @faq_categories.each do |faq_category| %>
    		<tr>
    			<td scope="col" class="sort_switch">
    			<%= link_to '▼', sort_down_ar_admin_faq_category_path(faq_category), {:method => :put} %>
    			<%= link_to '▲', sort_up_ar_admin_faq_category_path(faq_category), {:method => :put}  %>
    			</td>
    			<td scope="col" class="sort"><%= faq_category.position %></td>
    			<td scope="col" class="id"><%= faq_category.name %></td>
    			<td class="method" scope="col"><a href="<%= edit_ar_admin_faq_category_path(faq_category) %>">編集</a><br />
    			<%= link_to '削除', ar_admin_faq_category_path(faq_category), data: {:confirm => '削除すると、元に戻すことはできません。削除してよろしいですか？'},  method: :delete %></td>
    		</tr>
    	<% end %>
    	</table>
    </div>
  </div>
</body>