<% if @information.errors.any? %>
  <div class="finish">
    <p>入力内容に<em>エラー</em>があります。</p>
  </div>
  <% @information.errors.full_messages.each do |msg| %>
    <li><p class="error"><%= msg %></p></li>
  <% end %>
<% end %>

<table class="form_area">
  

  <tr>
    <th scope="row">タイトル</th>
    <td><%= f.text_field :title, :class => 'text3' %>
    <p class="notes">上限30文字</p>
    <%= error_on(:information, :title) %></td>
  </tr>
  <tr>
    <th scope="row">内容</th>
    <td><%= f.text_area :content %>
    <%= error_on(:information, :content) %></td>
  </tr>
  <tr>
    <th scope="row">お知らせ画像</th>
    <td><%= f.file_field :image %>
    <% if @information.image.present? %>
      <%= image_tag @information.image_url(:thumb).to_s %><br />
      <%= f.hidden_field :image_cache %>
      <%= f.check_box :remove_image %><%= f.label :remove_image, '画像を削除する'%>
    <% end %>
    </td>
  </tr>
</table>