<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker(ar.datepicker.options);
    });
    </script>

    <h2>お知らせ 編集</h2>
    <%= form_for :information, :url => {:action => 'index'} , :html => {:multipart => true} do |f| %>
      <%= render 'form', :f => f %>
      <p class="change"><a href="<%= ar_admin_informations_path %>"><img src="/images/ar_admin/form/btn_prev.jpg" alt="前のページへ戻る" class="nav" /></a> <input type="image" src="/images/ar_admin/form/btn_confirm.jpg" alt="確認する" class="nav" /></p>
    <% end %>
  </div>
</body>