<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker(ar.datepicker.options);
    });
    </script>

    <h2>お知らせ新規登録</h2>
    <%= form_for :information, :url => {:action => 'index'}, :html => {:multipart => true} do |f| %>
      <%= render 'form', :f => f %>
      <p class="change"><input type="image" alt="確認する" class="nav" /></p>
    <% end %>


    <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker(ar.datepicker.options);
    });
    </script>

    <div class="section">
      <h2>お知らせ管理</h2>
      <div class="section">
        <table class="news_list">
          <tr>
            <th rowspan="2" class="sort_switch" scope="col">ソート</th>
            <th rowspan="2" class="sort" scope="col">表示順</th>
            <th rowspan="2" class="id" scope="col">お知らせID</th>
            <th rowspan="2" class="" scope="col">タイトル</th>
            <th rowspan="2" class="method" scope="col">処理</th>
          </tr>
          <% @informations.each do |info| %>
          <tr>
            <td scope="col" class="sort_switch">
            <%= link_to '▼', [:sort_down, :ar_admin, info], {:method => :put} %>
            <%= link_to '▲', [:sort_up, :ar_admin, info], {:method => :put}  %>
            </td>
            <td scope="col" class="sort"><%= info.position %></td>
            <td scope="col" class="id"><%= info.id %></td>
            <td scope="col" class=""><%= info.title %></td>

            <td scope="col" class="method">
            <%= link_to '編集', [:edit, :ar_admin, info] %><br />
            <%= link_to '削除', [:ar_admin, info], method: :delete, data: {:confirm => '削除すると、元に戻すことはできません。削除してよろしいですか？'} %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
