<body>
	<div id="wrapper">
		<%= render '/header' %>
		<!-- コンテンツ開始 -->
		<article id="content">
  		<section id="faq" class="faq_box clearfix">
  		  <% @faqs.each do |faqs|%>
  		    <h3><%= faqs.name %></h3>
  			  <% faqs.faqs.each do |faq|%>
  				<ul>
  					<li>
				      <dl>
    						<dt class="faq_link"><a href="#"><%= faq.question %></a></dt>
    						<dd><%= faq.answer %></dd>
  					  </dl>
  					</li>
  				</ul>
			    <% end %>
		    <% end %>
		  </section>
	  </article>
		<!-- コンテンツ終了 -->
		<%= render '/footer' %>
	</div>
</body>