<body>
	<div id="wrapper">
		<%= render '/header' %>
		<!-- コンテンツ開始 -->
		<article id="content">
		  <section id="functions" class="functions_box clearfix">
            <% @function_infos.each do |function_info| %>
			    <div id="function<%=function_info.id%>" class="function clearfix">
			      <figure class="image">
				    <img src="<%= function_info.image %>">
			      </figure>
			      <dl>
				  <dt><%= function_info.title %></dt>
				    <dd>
					  <p><%= function_info.description %></p>
					</dd>
				  </dl>
			    </div>
            <% end %>
            </section>
		  </article>
		<!-- コンテンツ終了 -->
		<%= render '/footer' %>
	</div>
</body>