<body class="home">
	<div id="wrapper">
		<%= render '/header' %>
		<aside id="main_image">
			<div class="text_box">
				<h2 class="fadein">君のおはようが<br />聞きたい</h2>
				<p class="fadein">今すぐ簡単無料登録</p>
			</div>
		</aside>
		<!-- コンテンツ開始 -->
		<article id="content">
		  <section id="news" class="news_list_box home clearfix">
		    <h2>お知らせ</h2>
    			<ul class="clearfix">
	          <% @information.each do |info| %>
	            <li class="clearfix">
	              <h3><%= link_to info.title, news_show_path(:id => info.id) %></h3>
	              <figure class="image"><%= image_tag info.image.to_s, width: "1900", height: "1160", alt: "" %></figure>
	              <div class="desc"> <%= info.content.truncate(80) %></div>
	              <p class="update"><%= info.updated_at.strftime("%Y.%-m.%-d") %></p>
  		          <p class="link"><%= link_to 'MORE', news_show_path(:id => info.id) %></p>
	            </li>
	          <% end %>
	        </ul>
    			<div class="more"><%= link_to "もっと見る", news_index_path %></div>
		  </section>
		</article>
		<!-- コンテンツ終了 -->
		<%= render '/footer' %>
	</div>
</body>