<% if @function_info.errors.any? %>
<div class="finish">
<p>入力内容に<em>エラー</em>があります。</p>
</div>
<% end %>
<table class="form_area">
<tr>
<th scope="row">公開/非公開</th>
<td colspan="3">
<%= f.select :status, [['公開', true], ['非公開', false]] %>
<%= error_on(:function_info, :status) %>
</td>
</tr>
<tr>
<th scope="row">タイトル</th>
<td><%= f.text_field :title, :class => 'text3' %>
<%= error_on(:function_info, :title) %></td>
</tr>
<tr>
<th scope="row">画像</th>
<td><%= f.file_field :image%>
  <% if @function_info.image.present? %>
  <%= image_tag @function_info.image_url(:thumb_square).to_s %><br />
  <%= f.hidden_field :image_cache %>
  <%= f.check_box :remove_image %><%= f.label :remove_image, '画像を削除する'%>
  <% end %>
<%= error_on(:function_info, :image) %></td>
</tr>
<tr>
<th scope="row">説明文</th>
<td><%= f.text_area :description %>
<%= error_on(:function_info, :description) %></td>
</tr>
</table>

