<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker(ar.datepicker.options);
    });
    </script>
    <h2>機能情報 編集</h2>
    <%= form_for  [:ar_admin, @function_info], :html => {:multipart => true} do |f| %>
      <%= render 'form', :f => f %>
      <p class="change"><a href="<%= ar_admin_function_infos_path %>"><img src="/images/ar_admin/form/btn_prev.jpg" alt="前のページへ戻る" class="nav" /></a> <input type="image" alt="登録する" class="nav" /></p>
    <% end %>
  </div>
</body>
