<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>機能 新規登録</h2>
    <%= form_for  [:ar_admin, @function_info], :html => {:multipart => true} do |f| %>
    <%= render 'form', :f => f %>
    <p class="change"><input type="image" alt="登録する" class="nav" /></p>
    <% end %>

    <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker(ar.datepicker.options);
    });
    </script>
    <div class="section">
      <table class="news_list">
        <tr>
          <th  class="sort_switch" scope="col">ソート</th>
          <th  class="" scope="col">タイトル</th>
          <th  class="" scope="col">表示順</th>
          <th  class="status" scope="col">公開ステータス</th>
          <th  class="method" scope="col">処理</th>
        </tr>
        <% @function_infos.each do |function_info| %>
          <tr>
            <td scope="col" class="sort_switch">
            <%= link_to '▼', [:sort_down, :ar_admin, function_info], {:method => :put} %>
            <%= link_to '▲', [:sort_up, :ar_admin, function_info], {:method => :put}  %>
            </td>
            <td scope="col" class=""><%= function_info.title %></td>
            <td scope="col" class="sort"><%= function_info.position %></td>
            <td scope="col" class="sort_switch"><%= function_info.status ? '公開' : '非公開' %></td>
            <td scope="col" class="method">
            <%= link_to '編集', [:edit,:ar_admin, function_info] %><br />
            <%= link_to '削除', [:ar_admin, function_info], data: {:confirm => '削除すると、元に戻すことはできません。削除してよろしいですか？'}, :method => :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</body>

