<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>機能 新規登録</h2>
    <%= form_for  [:ar_admin, @function_info], :html => {:multipart => true} do |f| %>
      <%= render 'form', :f => f %>
      <p class="change"><input type="image" alt="登録する" class="nav" /></p>
    <% end %>
  </div>
</body>