<ul class="clearfix">
  <% @informations.each do |info| %>
  	<li class="clearfix">
  		<div class="image">
  		  <%= link_to info.title, news_show_path(:id => info.id), :style => "background-image: url(#{image_path info.image})" %>
      </div>


      <h3><%= link_to info.title, news_show_path(:id => info.id) %></h3>
      <div class="desc"><%= info.content.truncate(80) %></div>
  		<p class="update"><%= info.updated_at.strftime("%Y.%-m.%-d") %></p>
  		<p class="link"><%= link_to 'MORE', news_show_path(:id => info.id) %></p>
  	</li>
  <% end %>
</ul>