<%#
  #　お知らせ用もっとみるJS
%>
$('#news_lists').append("<%= escape_javascript(render 'information_list', object: @informations) %>");
$("#view_more").replaceWith("<%= escape_javascript(link_to_next_page(@informations, 'もっと見る', remote: true, id: 'view_more')) %>");