<body>
  <div id="wrapper">
    <%= render '/header' %>
    <!-- コンテンツ開始 -->
    <article id="content">
      <section id="news" class="news_list_box clearfix">
        <div id="news_lists"><%= render 'information_list' %></div>
        <div class="more"><%= link_to_next_page @informations, 'もっと見る', remote: true, id: 'more_link' %></div>
      </section>
    </article>
    <!-- コンテンツ終了 -->
    <%= render '/footer' %>
  </div>
</body>