<body>
  <div id="wrapper">
    <%= render '/header' %>
    <!-- コンテンツ開始 -->
    <article id="content">
      <section id="news_detail" class="news_box clearfix">

        <p class="update"><%= @information.updated_at.strftime("%Y.%-m.%-d") %> </p>
        <div class="head">
          <h3><%= @information.title %></h3>
        </div>
        <figure class="image"><%= image_tag @information.image.to_s, width: "1900", height: "1160", alt: "" %></figure>
        <div class="desc">
          <%= @information.content %>
        </div>
        <div class="more"><%= link_to "ニュース一覧へ戻る", news_index_path %></div>
      </section>

      <section class="news_list_box related clearfix">
        <div class="head">
          <h3>
            <img class="pc_disp" src="images/news_text_01.png" width="586" height="123" alt="RELATED NEWS 関連ニュース" />
          </h3>
        </div>
        <ul>
          <% @informations.each do |info| %>
          <li class="clearfix">
            <figure class="image"><%= link_to(news_show_path(:id => info.id), :style => "background-image: url(#{image_path info.image})") do %>
                <%= image_tag info.image.to_s, :class => "pc_disp", :width => "600", :height => "440", :alt => "" %>
                <% end %>
            </figure>
            <h3><%= link_to info.title, news_show_path(:id => info.id) %></h3>
            <div class="desc"> <%= info.content.truncate(80) %></div>
            <p class="update"><%= info.updated_at.strftime("%Y.%-m.%-d") %></p>
            <p class="link"><%= link_to 'MORE', news_show_path(:id => info.id) %></p>
          </li>
          <% end %>
        </ul>
      </section>
    </article>
      <!-- コンテンツ終了 -->
    <%= render '/footer' %>
  </div>
</body>