<body>
	<div id="wrapper">
		<%= render '/header' %>
    <!-- コンテンツ開始 -->
    <article id="content">
      <section id="contact" class="contact_box clearfix">
        <h1>お問い合わせ</h1>
        <%= form_for :contact, :url => { :action => 'preview' } do |f| %>

          <div class="parts border clearfix">
            <%= f.label(:name) do %>
            お名前<em>※</em>
            <% end %>
            <%= f.text_field :name, :class => 'text' %>
            <%= error_on(:contact, :name) %>
          </div>

          <div class="parts border clearfix">
            <%= f.label(:name_kana) do %>
            お名前（カナ）<em>※</em>
            <% end %>
            <%= f.text_field :name_kana, :class => 'text' %>
            <%= error_on(:contact, :name_kana) %>
          </div>

          <div class="parts border clearfix">
            <%= f.label(:email) do %>
            メールアドレス<em>※</em>
            <% end %>
            <%= f.text_field :email, :class => 'text' %>
             <%= error_on(:contact, :email) %>
         </div>

          <div class="parts border clearfix">
            <%= f.label(:tel) do %>
            電話番号<em>※</em>
            <% end %>
            <%= f.text_field :tel, :class => 'text' %>
             <%= error_on(:contact, :tel) %>
          </div>

          <div class="parts clear clearfix">
            <%= f.text_area :message, :placeholder => "お問い合わせ内容", :class => 'textarea' %>
             <%= error_on(:contact, :message) %>
          </div>

          <div class="checkBox"><span>
            <%= f.check_box :terms, {:checked => false, :id => "fCheck"}, 1, nil %><label for="fCheck">プライバシーポリシーに同意する</label>
            <% if flash[:warning] %>
              <p id="privacy_policy"><%= flash[:warning] %></p>
            <% end %>
          </span></div>

          <div class="btn_wrap">
            <%= f.submit("内容を確認する", :class=>'check') %>
          </div>
        <% end %>
      </section>
		</article>
		<!-- コンテンツ終了 -->
		<%= render '/footer' %>
	</div>
</body>