<body>
	<div id="wrapper">
		<%= render '/header' %>
		<!-- コンテンツ開始 -->
		<article id="content">
			<section id="contact" class="contact_box clearfix">
        <p>下記の内容で送信します。いま一度ご確認ください。</p>
          <%= form_for :contact, :url => { :action => 'create' } do |f| %>
            <div class="parts border clearfix">
              <p class="label">お名前</p>
              <p class="text_confirm"><%= @contact.name %></p>
            </div>
            <div class="parts border clearfix">
              <p class="label">お名前(カナ)</p>
              <p class="text_confirm"><%= @contact.name_kana %></p>
            </div>
            <div class="parts border clearfix">
              <p class="label">メールアドレス</p>
              <p class="text_confirm"><%= @contact.email %></p>
            </div>
            <div class="parts border clearfix">
              <p class="label">電話番号</p>
              <p class="text_confirm"><%= @contact.tel %></p>
            </div>
            <div class="parts clear clearfix">
              <div class="textarea_confirm">
                <p><%= @contact.message %></p>
              </div>
            </div>
            <div class="btn_wrap">
              <a class="return" href="javascript:history.back();">前に戻る</a>
              <%= f.submit '投稿する', :class=>"send" %>
            </div>
          <% end %>
      </section>
		</article>
		<!-- コンテンツ終了 -->
		<%= render '/footer' %>
	</div>
</body>