<body>
	<div id="wrapper">
		<%= render '/header' %>
		<!-- コンテンツ開始 -->
		<article id="content">
		  <section id="thanks" class="thanks_box clearfix">
            <p>お問い合わせありがとうございました。<br />
担当者が後日ご連絡させていただきますので今しばらく、お待ちください。</p>
            
            <div class="link"><%= link_to "TOPページへ戻る", root_path %></div>
          </section>
		</article>
		<!-- コンテンツ終了 -->
		<%= render '/footer' %>
	</div>
</body>