
<header id="header">
	<div class="wrap">
		<h1><%=link_to "IKEMEN UP", root_path %></h1>

		<nav id="navi" class="clearfix">
			<ul class="clearfix">
				<li><%= link_to "news",ar_admin_informations_path %></li>
				<li><%= link_to "news_status",ar_admin_information_statuses_path %></li>
				<li><%= link_to "faqs",ar_admin_faqs_path %></li>
				<li><%= link_to "faqs_category",ar_admin_faq_categories_path %></li>
				<li><%= link_to "function_info",ar_admin_function_infos_path %></li>
				<li><%= link_to "contact",ar_admin_contacts_path %></li>
			</ul>
		</nav>

	</div>
</header>
