
<% if @faq.errors.any? %>
  <div class="finish">
    <p>入力内容に<em>エラー</em>があります。</p>
  </div>
<% end %>

<table class="form_contact_area form_search">
	<%= form_for :faq, :url => { :action => 'index' } do |f| %>
	  <tr>
  		<th scope="row">カテゴリー</th>
  		<td><%= f.select :faq_category_id, @faq_categories.collect {|p| [ p.name, p.id ] }, :include_blank => @faq.new_record? %>
  		<a href="<%= url_for :controller => :faq_categories %>"><input value="カテゴリー新規追加" type="button"></a>
  		<%= error_on(:faq, :faq_category_id) %></td>
		</tr>
		<tr>
  		<th scope="row">質問タイトル</th>
  		<td><%= f.text_field :question, :class => 'text4' %>
  		<p class="notes">上限100文字</p>
  		<%= error_on(:faq, :question) %></td>
		</tr>
		<tr>
  		<th scope="row">回答内容</th>
  		<td><%= f.text_area :answer %>
  		<p class="notes"><br />上限1000文字</p>
  		<%= error_on(:faq, :answer) %></td>
		</tr>
	<% end %>
</table>