<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>よくある質問編集</h2>
    <div class="section">
    <%= form_for [:ar_admin, @faq] do |f| %>
    <%= render 'form', :f => f %>
    <p class="change"><a href="javascript:history.back();"><img src="/images/ar_admin/form/btn_prev.jpg" alt="前に戻る" /></a> <input type="image" src="/images/ar_admin/form/btn_change.jpg" alt="登録する" class="nav" /></p>
    <% end %>
    </div>
  </div>
</body>