<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
  <h2>よくある質問設定</h2>
  <p class="text_set" style="color:#C00">新しいよくある質問を登録できます。 <br />
  </p>
  <div class="section">
  <%= form_for :faq do |f| %>
  <%= render 'form', :f => f %>
  <p class="change"><input type="image" src="/images/ar_admin/form/btn_regist.jpg" alt="登録する" class="nav" /></p>
  <% end %>
  </div>
    <div class="section">
    	<table class="news_list">
    		<tr>
    			<th rowspan="2" class="sort_switch" scope="col">ソート</th>
    			<th rowspan="2" class="sort" scope="col">表示順</th>
    			<th rowspan="2" class="id" scope="col">カテゴリー名称</th>
    			<th rowspan="2" class="status" scope="col">質問内容</th>
    			<th rowspan="2" class="method" scope="col">処理</th>
    		</tr>

    		<% @faqs.each do |faq| %>
    		<tr>
    			<td scope="col" class="sort_switch">
    			<%= link_to '▼', sort_down_ar_admin_faq_path(faq, {:faq_category_id => faq.faq_category_id}), {:method => :put} %>
    			<%= link_to '▲', sort_up_ar_admin_faq_path(faq, {:faq_category_id => faq.faq_category_id}), {:method => :put}  %>
    			</td>
    			<td scope="col" class="sort"><%= faq.position %></td>
    			<td scope="col" class="id"><%= faq.faq_category.name %></td>
    			<td scope="col" class="status"><span class="id"><%= faq.question %></span></td>
    			<td class="method" scope="col"><%= link_to '編集', edit_ar_admin_faq_path(faq) %><br />
    			<%= link_to '削除', ar_admin_faq_path(faq), data: {:confirm => '削除すると、元に戻すことはできません。削除してよろしいですか？'}, :method => :delete %></td>
    		</tr>
    		<% end %>
    	</table>
    </div>
  </div>
</body>