<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker(ar.datepicker.options);
    });
    </script>

    <div class="section">
      <table class="contact_list">
        <tr>
          <th scope="col" class="number">お問い合わせ番号 <%= sort_link(:id) %></th>
          <th scope="col" class="date">お問い合わせ日時 <%= sort_link(:created_at) %></th>
          <th scope="col" class="name">氏名 <%= sort_link(:name) %></th>
          <th scope="col" class="mail">メールアドレス <%= sort_link(:email) %></th>
          <th scope="col" class="company">電話番号 <%= sort_link(:tel) %></th>
          <th scope="col" class="method">処理</th>
        </tr>
        <% @contacts.each do |contact| %>
          <tr>
            <td scope="col" class="number"><%= contact.id %></td>
            <td scope="col" class="date"><%= contact.created_at %></td>
            <td scope="col" class="name"><%= contact.name %><%= contact.name %> (<%= contact.name_kana %><%= contact.name_kana %>)</td>
            <td scope="col" class="mail"><%= contact.email %></td>
            <td scope="col" class="company"><%= contact.tel %></td>
            <td scope="col" class="method"><%= link_to '詳細', [:ar_admin, contact] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</body>

