<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>お問い合わせメール詳細</h2>
    <div class="section">
      <table class="mail_target">
        <tr>
          <th scope="col">お問い合わせ番号</th>
          <th scope="col">お問い合わせ日時</th>
        </tr>
        <tr>
          <td><%= @contact.id %></td>
          <td><%= @contact.created_at %></td>
        </tr>
      </table>
    </div>
    <div class="section">
      <table class="form_area">
        <tr>
          <th scope="row">お名前</th>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td><%= @contact.tel %></td>
        </tr>
      </table>
    </div>
    <div class="section inline">
      <h4>お問い合わせ理由</h4>
      <p><textarea disabled="disabled"><%= @contact.message %>
    </textarea></p>
      <p class="change">
        <%= link_to image_tag('/images/ar_admin/form/btn_prev.jpg', :alt => '前のページに戻る', :class => 'nav'), [:ar_admin, :contacts] %>
      </p>
    </div>
  </div>
</body>
