@charset "UTF-8";

/**
 *
 * CSSリセット、再定義
 *
**/


/**
 * CSSリセット
 * 参照元：http: //meyerweb.com/eric/tools/css/reset/
**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote: before, blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * 再定義
**/

body {
	color: #19191b;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif !important;
	font-size: 75%;
	line-height: 1.6em;
	letter-spacing: 0px;
	text-align: center;
}

body.home {
	background: url("body_back_01.png") repeat-y 0 0;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

input,select,textarea {
	color: #19191b;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif !important;
}

table {
	color: #19191b;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif !important;
	font-size: 100%;
	line-height: 1.6em;
	letter-spacing: 0px;
	empty-cells:  show;
}

table td, table td {
	empty-cells: show;
}

a {
	color: #19191b;
	text-decoration: none;
}

a:hover {
	color: #19191b;
	text-decoration: underline;
}

a.opa:hover {
	opacity: 0.6;
}

img {
	border: none;
}

em { font-style: normal; }
