@charset "UTF-8";

/**
 *
 * コンテンツ
 *
**/


/**
 * home
**/
.concept_box {
	margin: 0 0 0 0;
	padding: 105px 0 225px 0;
	width: 100%;
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
}

.concept_box h2 {
	margin: 0 auto 150px auto;
	padding: 0 0 0 0;
	max-width: 200px;
}

.concept_box .detail {
	margin: 0 0 0 0;
	padding: 95px 0 35px 0;
	width: 84%;
	text-align: left;
	background: #eeeef7;
	position: relative;
}

.concept_box .detail h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 430px;
	position: absolute;
	top: -38px;
	right: -90px;
}

.concept_box .detail ol {
}

.concept_box .detail ol li {
	padding: 25px 0 0 0;
	width: 26.3%;
	position: relative;
	float: left;
	display: inline;
}

.concept_box .detail ol li:nth-of-type(1) {
	margin: 0 0 0 4%;
}

.concept_box .detail ol li:nth-of-type(2) {
	margin: 0 0 0 6%;
}

.concept_box .detail ol li:nth-of-type(3) {
	margin: 0 0 0 6%;
}

.concept_box .detail ol li:nth-of-type(1):before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	content: "　";
	background: url("../images/concept_num_01.png") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
}

.concept_box .detail ol li:nth-of-type(2):before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	content: "　";
	background: url("../images/concept_num_02.png") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
}

.concept_box .detail ol li:nth-of-type(3):before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	content: "　";
	background: url("../images/concept_num_03.png") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
}

.concept_box .detail ol li .image {
	margin: 0 0 25px 0;
	width: 100%;
	height: 124px;
	display: table;
}

.concept_box .detail ol li .image .cell {
	width: 100%;
	height: 124px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.concept_box .detail ol li:nth-of-type(1) .image img {
	margin: auto;
	max-width: 103px;
}

.concept_box .detail ol li:nth-of-type(2) .image img {
	margin: auto;
	max-width: 216px;
}

.concept_box .detail ol li:nth-of-type(3) .image img {
	margin: auto;
	max-width: 123px;
}

.concept_box .detail ol li dt {
	line-height: 1.2em;
	font-size: 24px;
	font-weight: bold;
	color: #2c2c2d;
}

.concept_box .detail ol li dd {
	padding: 10px 0 0 0;
	line-height: 1.5em;
	font-size: 16px;
}

.sales_up_box {
	margin: 0 0 0 0;
	padding: 105px 0 145px 0;
	width: 100%;
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
}

.sales_up_box .detail {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	text-align: left;
	position: relative;
}

.sales_up_box .detail h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 339px;
	position: absolute;
	top: -38px;
	left: 3.45%;
	z-index: 1;
}

.sales_up_box .detail ul {
	padding: 0 0 65px 0;
}

.sales_up_box .detail ul li {
	padding: 0 0 0 0;
	width: 33.3%;
	position: relative;
	float: left;
	display: inline;
}

.sales_up_box .detail ul li:nth-of-type(2) {
	margin: 6% 0 0 0;
	width: 33.4%;
}

.sales_up_box .detail ul li .image {
	margin: 0 0 20px 0;
}

.sales_up_box .detail ul li dt {
	margin: 0 12%;
	line-height: 1.2em;
	font-size: 24px;
	font-weight: bold;
	color: #2c2c2d;
}

.sales_up_box .detail ul li dd {
	margin: 0 12%;
	padding: 10px 0 0 0;
	line-height: 1.5em;
	font-size: 16px;
}

.sales_up_box .detail .link {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 350px;
}

.sales_up_box .detail .link a {
	margin: 0 0 0 0;
	padding: 18px 10px;
	line-height: 1.2em;
	font-size: 22px;
	color: #ffffff;
	background: #ed0000;
	border: 1px solid #ed0000;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.sales_up_box .detail .link a:hover {
	color: #ed0000;
	background: none;
}

.great_settlement_box {
	margin: 0 0 0 0;
	padding: 0 0 100px 0;
	position: relative;
}

.great_settlement_box .head {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 60%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.great_settlement_box .head .box {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	background: #ffffff;
}

.great_settlement_box .head .box h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 715px;
}

.great_settlement_box .wrap {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.great_settlement_box .wrap #slider {
	margin: 0 0 0 3.6%;
	padding: 0 0 0 0;
	width: 83%;
}

.great_settlement_box .wrap #slider .box {
	overflow: hidden;
}

.great_settlement_box .wrap #slider .box .image {
	margin: 0 0 30px 0;
}

.great_settlement_box .wrap #slider .box .num {
	margin: 0 15px 0 0;
	width: 50px;
	float: left;
	display: inline;
}

.great_settlement_box .wrap #slider .box dl {
	text-align: left;
	color: #070709;
	overflow: hidden;
}

.great_settlement_box .wrap #slider .box dl dt {
	line-height: 1.2em;
	font-size: 26px;
	font-weight: bold;
}

.great_settlement_box .wrap #slider .box dl dd {
	line-height: 1.4em;
	font-size: 16px;
}

/**
 * functions
**/
.functions_box {
	margin: 0 auto 0 auto;
	padding: 80px 0 100px 0;
	width: 94%;
	max-width: 1076px;
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
	overflow: hidden;
}

.functions_box .content_link_list {
	margin: 0 0 0 0;
	padding: 0 0 90px 0;
	overflow: hidden;
}

.functions_box .content_link_list li {
	margin: 0 2.4% 20px 0 !important;
	padding: 0 0 0 0;
	width: 23.2%;
	float: left;
	display: inline;
}

.functions_box .content_link_list li:nth-of-type(4n) {
	margin: 0 0 20px 0 !important;
}

.functions_box .content_link_list li:nth-of-type(4n+1) {
	clear: both;
}

.functions_box .content_link_list li a {
	padding: 15px;
	text-align: center;
	text-decoration: none;
	color: #19191b;
	background: #eeeef7;
	border: 1px solid #eeeef7;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.functions_box .content_link_list li a:hover {
	text-align: center;
	color: #ffffff;
	background: #080809;
	border: 1px solid #080809;
}

.functions_box .function {
	padding: 0 0 80px 0;
}

.functions_box .function .image {
	width: 42%;
	max-width: 450px;
	float: right;
	display: inline;
}

.functions_box .function#function02 .image {
	float: left !important;
}

.functions_box .function#function04 .image {
	float: left !important;
}

.functions_box .function#function06 .image {
	float: left !important;
}

.functions_box .function#function08 .image {
	float: left !important;
}

.functions_box .function#function10 .image {
	float: left !important;
}

.functions_box .function#function12 .image {
	float: left !important;
}

.functions_box .function#function14 .image {
	float: left !important;
}

.functions_box .function#function16 .image {
	float: left !important;
}

.functions_box .function dl {
	width: 51.5%;
	text-align: left;
	float: left;
	display: inline;
}

.functions_box .function#function02 dl {
	float: right !important;
}

.functions_box .function#function04 dl {
	float: right !important;
}

.functions_box .function#function06 dl {
	float: right !important;
}

.functions_box .function#function08 dl {
	float: right !important;
}

.functions_box .function#function10 dl {
	float: right !important;
}

.functions_box .function#function12 dl {
	float: right !important;
}

.functions_box .function#function14 dl {
	float: right !important;
}

.functions_box .function#function16 dl {
	float: right !important;
}

.functions_box .function dl dt {
	margin: 0 0 15px 0;
	line-height: 1.2em;
	font-size: 30px;
}

.functions_box .function dl dd {
}

.functions_box .function dl dd p {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
}



/**
 * price
**/
.price_box {
	margin: 0 auto 0 auto;
	padding: 65px 0 270px 0;
	width: 94%;
	max-width: 1076px;
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
	overflow: hidden;
}

.price_box h3 {
	margin: 0 auto 0 auto;
	padding: 55px 0 35px 0;
	max-width: 124px;
}

.price_box .service_list {
	margin: 0 0 0 0;
	padding: 35px 0 50px 0;
}

.price_box .service_list li {
	margin: 0 5% 50px 0;
	padding: 0 0 0 0;
	width: 30%;
	min-height: 280px;
	float: left;
	display: inline;
}

.price_box .service_list li.item01 {
	background: #eeeef7 url("../images/price_image_01.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .service_list li.item02 {
	background: #eeeef7 url("../images/price_image_02.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .service_list li.item03 {
	background: #eeeef7 url("../images/price_image_03.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .service_list li.item04 {
	background: #eeeef7 url("../images/price_image_04.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .service_list li.item05 {
	background: #eeeef7 url("../images/price_image_05.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .service_list li.item06 {
	background: #eeeef7 url("../images/price_image_06.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .service_list li:nth-of-type(3n) {
	margin: 0 0 50px 0;
}

.price_box .service_list li:nth-of-type(3n+1) {
	clear: both;
}

.price_box .service_list li dl {
	padding: 20px 25px 0 25px;
}

.price_box .service_list li dl dt {
	padding: 0 0 10px 0;
	line-height: 1.2em;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.price_box .service_list li dl dd {
	padding: 0 0 0 0;
	line-height: 1.5em;
	text-align: left;
	font-size: 16px;
}

.price_box .service_list li dl dd.center {
	padding: 0 0 0 0;
	line-height: 1.5em;
	text-align: center;
	font-size: 18px;
}

.price_box .option_list {
	margin: 0 0 0 0;
	padding: 0 0 25px 0;
}

.price_box .option_list li {
	margin: 0 5% 50px 0;
	padding: 0 0 0 0;
	width: 30%;
	min-height: 280px;
	float: left;
	display: inline;
}

.price_box .option_list li.item01 {
	background: url("../images/price_image_07.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .option_list li.item02 {
	background: url("../images/price_image_08.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .option_list li.item03 {
	background: url("../images/price_image_09.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .option_list li.item04 {
	background: url("../images/price_image_10.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .option_list li.item05 {
	background: url("../images/price_image_11.png") no-repeat center bottom;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}

.price_box .option_list li:nth-of-type(3n) {
	margin: 0 0 50px 0;
}

.price_box .option_list li:nth-of-type(3n+1) {
	clear: both;
}

.price_box .option_list li dl {
	padding: 20px 25px 0 25px;
}

.price_box .option_list li dl dt {
	padding: 0 0 10px 0;
	line-height: 1.2em;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.price_box .option_list li dl dd {
	padding: 0 0 0 0;
	line-height: 1.5em;
	text-align: left;
	font-size: 16px;
}

.price_box .option_list li dl dd ul {
	padding: 20px 0 0 0;
}

.price_box .option_list li dl dd li {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 1em !important;
	width: auto;
	min-height: 0;
	float: none;
	display: block;
	position: relative;
}

.price_box .option_list li dl dd li:before {
	content: "・";
	position: absolute;
	top: 0;
	left: 0;
}

.price_box .link {
	margin: 0 auto 0 auto;
	padding: 25px 0 0 0;
	width: 350px;
}

.price_box .link a {
	margin: 0 0 0 0;
	padding: 18px 10px;
	line-height: 1.2em;
	font-size: 22px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.price_box .link a:hover {
	color: #ffffff;
	background: #191a1c;
}



/**
 * contact
**/
.contact_box {
	margin: 0 auto 0 auto;
	padding: 80px 0 160px 0;
	width: 94%;
	max-width: 850px;
	line-height: 1.5em;
	font-size: 16px;
	overflow: hidden;
}

.contact_box p {
	margin: 0 0 0 0;
	padding: 0 0 35px 0;
}

.contact_box p.privacy {
	margin: 0 0 0 0;
	padding: 45px 0 20px 0;
}

.contact_box a {
	color: #d91d1d;
	text-decoration: underline;
}

.contact_box a:hover {
	color: #d91d1d;
	text-decoration: none;
}

.contact_box .parts {
	margin: 0 0 0 0;
	padding: 45px 0 0 0;
	position: relative;
}

.contact_box .parts.half {
	width: 48%;
}

.contact_box .parts.border {
	border-bottom: 2px solid #d6d6dd;
}

.contact_box .parts .select_confirm {
	margin: 0 0 0 0;
	padding: 25px 35px;
	line-height: 1.2em;
	text-align: left;
	font-size: 20px;
	border: 2px solid #d6d6dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.contact_box .parts .label {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	color: #898b9b;
}

.contact_box .parts em {
	color: #d80d0d;
}

.contact_box .parts .text_confirm {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	line-height: 1.2em;
	text-align: left;
	font-size: 20px;
	color: #070709;
}

.contact_box .parts .textarea {
	margin: 0 0 0 0;
	padding: 25px 35px;
	width: 100%;
	min-height: 235px;
	line-height: 1.2em;
	text-align: left;
	font-size: 20px;
	border: 2px solid #d6d6dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

.contact_box .parts .textarea_confirm {
	margin: 0 0 0 0;
	padding: 25px 35px;
	min-height: 235px;
	line-height: 1.2em;
	text-align: left;
	font-size: 20px;
	border: 2px solid #d6d6dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contact_box .parts .select {

}

.contact_box .parts .select select {
	margin: 0 0 0 0;
	padding: 25px 70px 25px 35px;
	width: 100%;
	line-height: 1.2em;
	font-size: 18px;
	cursor: pointer;
	color: #191a1c;
	background: #ffffff url("../images/arrow_02.png") no-repeat right center;
	-webkit-background-size: 58px auto;
	-moz-background-size: 58px auto;
	background-size: 58px auto;
	border: 2px solid #d6d6dd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.contact_box .parts .select select::-ms-expand {
    display: none;
}

.contact_box .parts .select select.none_active {
	color: #ffffff;
}

.contact_box .parts .text {
	margin: 0 0 0 0;
	padding: 25px 0 25px 0;
	width: 100%;
	line-height: 1.2em;
	text-align: left;
	font-size: 18px;
	background: #ffffff;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #070709;
}
::placeholder {
	color: #898c9a;
}

.contact_box .parts label {
	margin: 0 0 0 0;
	padding: 25px 0 25px 0;
	width: 100%;
	line-height: 1.2em;
	text-align: left;
	font-size: 18px;
	color: #898c9a;
	transition-duration:0.4s;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
}

.contact_box .parts label.select_label {
	left: 35px;
}


.contact_box .parts label.active {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	line-height: 1.2em;
	text-align: left;
	font-size: 12px;
	color: #898c9a;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 80px;
	left: 0;
}

.contact_box .parts label em {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2em;
	font-size: 12px;
	color: #d80d0d;
}

.contact_box .parts label.active em {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2em;
	font-size: 10px;
	color: #d80d0d;
}

.contact_box .parts .error {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2em;
	font-size: 14px;
	color: #d90d0d;
	text-align: left;
	position: absolute;
	bottom: -25px;
	left: 0;
}


.contact_box .btn_wrap {
	margin: 0 auto;
	padding: 45px 0 30px 0;
	width: 530px;
	overflow: hidden;
	clear: both;
}

.contact_box .btn_wrap .return {
	margin: 0 0 0 0;
	padding: 20px 10px;
	width: 250px;
	line-height: 1.4em;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	background: #ffffff;
	color: #19191b;
	border: 2px solid #191a1c;
	border-bottom: solid 4px #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	-webkit-appearance: none;
}

.contact_box .btn_wrap .return:hover {
	color: #191a1c;
	border-color: #191a1c;
	-webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
}

.contact_box .btn_wrap .send {
	margin: 0 0 0 0;
	padding: 20px 10px;
	width: 250px;
	line-height: 1.4em;
	font-size: 22px;
	font-weight: bold;
	color: #ed0000;
	background: #ffffff;
	border: 2px solid #ed0000;
	border-bottom: solid 4px #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	float: right;
	-webkit-appearance: none;
}

.contact_box .btn_wrap .send:hover {
	color: #ed0000;
	border-color: #ed0000;
	-webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
}

.contact_box .btn_wrap .check {
	margin: 0 0 0 0;
	padding: 20px 10px;
	width: 350px;
	line-height: 1.4em;
	font-size: 22px;
	font-weight: bold;
	color: #ed0000;
	background: #ffffff;
	border: 2px solid #ed0000;
	border-bottom: solid 4px #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;
}

.contact_box .btn_wrap .check:hover {
	color: #ed0000;
	border-color: #ed0000;
	-webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
}



/**
 * thanks
**/
.thanks_box {
	margin: 0 auto 0 auto;
	padding: 110px 0 200px 0;
	width: 94%;
	max-width: 1076px;
	line-height: 1.5em;
	font-size: 16px;
	overflow: hidden;
}

.thanks_box p {
	margin: 0 0 0 0;
	padding: 0 0 40px 0;
}

.thanks_box .image {
	margin: 0 auto 65px auto;
	padding: 0 0 0 0;
	width: 305px;
}

.thanks_box .link {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 300px;
}

.thanks_box .link a {
	margin: 0 0 0 0;
	padding: 18px 10px;
	line-height: 1.2em;
	font-size: 22px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.thanks_box .link a:hover {
	color: #ffffff;
	background: #191a1c;
}

/**
 * faq
**/
.faq_box {
	margin: 0 auto 0 auto;
	padding: 75px 0 100px 0;
	width: 94%;
	max-width: 1076px;
	text-align: left;
	overflow: hidden;
}

.faq_box h2 {
	margin: 0 auto 30px auto;
	padding: 0 0 0 0;
	max-width: 111px;
}

.faq_box h3 {
	margin: 0 0 8px 0;
	padding: 0 0 0 0;
	line-height: 1.4em;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.faq_box ul {
	margin: 0 0 90px 0;
	overflow: hidden;
}

.faq_box li {
	margin: 0 0 0 0;
	padding: 30px 0;
	text-align: left;
	border-bottom: 1px solid #c1c3cb;
	overflow: hidden;
}

.faq_box li dl {
	overflow: hidden;
}

.faq_box li dl dt {

}

.faq_box li dl dt a {
	padding: 21px 40px 21px 80px;
	line-height: 1.2em;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	background: url("../images/icon_q.png") no-repeat 0 0;
	-webkit-background-size: 60px auto;
	-moz-background-size: 60px auto;
	background-size: 60px auto;
	position: relative;
	display: block;
}

.faq_box li dl dt a:after {
	margin: -16px 0 0 0;
	width: 33px;
	height: 33px;
	line-height: 33px;
	transition-duration:0.2s;
	content: "　";
	background: url("../images/faq_open.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 50%;
	right: 9px;
	display: block;
}

.faq_box li dl dt a.active:after {
	transform: rotate(-45deg);
}

.faq_box li dl dd {
	padding: 45px 40px 25px 80px;
	line-height: 1.5em;
	font-size: 16px;
	background: url("../images/icon_a.png") no-repeat 0 30px;
	-webkit-background-size: 60px auto;
	-moz-background-size: 60px auto;
	background-size: 60px auto;
	position: relative;
	display: none;
}

.faq_box .more {
	margin: 0 auto 115px auto;
	padding: 0 0 0 0;
	width: 300px;
}

.faq_box .more a {
	margin: 0 0 0 0;
	padding: 18px 10px;
	line-height: 1.2em;
	font-size: 18px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	border-bottom: solid 4px #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.faq_box .more a:hover {
	color: #191a1c;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
}


/**
 * news list
**/
.news_list_box {
	margin: 0 0 0 0;
	padding: 70px 0 160px 0;
}

.news_list_box h2 {
	margin: 0 auto 70px auto;
	padding: 0 0 0 0;
	max-width: 126px;
}

.news_list_box.related {
	margin: 0 0 0 0;
	padding: 80px 0 0 0;
	background: #fbfbfd;
	position: relative;
}

.news_list_box .head {
	width: 100%;
	text-align: center;
}

.news_list_box .head h3 {
	margin: 0 0 0 -146px;
	max-width: 293px;
	position: absolute;
	top: -15px;
	left: 50%;
}

.news_list_box ul {
	margin: 0 auto 45px auto;
	width: 94%;
	max-width: 1076px;
	text-align: left;
}

.news_list_box.home ul {
	margin: 0 auto 0 auto;
}

.news_list_box.related ul {
	margin: 0 auto 0 auto;
}

.news_list_box li {
	margin: 0 8% 105px 0;
	padding: 0 0 0 0;
	width: 28%;
	max-width: 300px;
	float: left;
	display: inline;
}

.news_list_box li:nth-of-type(3n) {
	margin: 0 0 105px 0;
}

.news_list_box li:nth-of-type(3n+1) {
	clear: both;
}

.news_list_box.home li {
	margin: 0 8% 70px 0;
}

.news_list_box.home li:nth-of-type(3n) {
	margin: 0 0 70px 0;
}

.news_list_box li .image {
	margin: 0 0 20px 0;
	width: 100%;
	height: 220px;
	overflow: hidden;
}

.news_list_box li .image a {
	width: 100%;
	height: 220px;
	text-indent: -9999px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}

.news_list_box li .image a img {
	opacity: 0;
}

.news_list_box li .cat {
	margin: 0 10px 10px 0;
	padding: 5px 12px;
	float: left;
	display: inline;
}

.news_list_box li .cat.pressrelease {
	color: #ffffff;
	background: #383e81;
}

.news_list_box li .cat.maintenance {
	color: #ffffff;
	background: #2c5e3a;
}

.news_list_box li .cat.topic {
	color: #ffffff;
	background: #ab121e;
}

.news_list_box li .cat.news {
	color: #ffffff;
	background: #3b86b6;
}

.news_list_box li .cat.interview {
	color: #ffffff;
	background: #603177;
}

.news_list_box li h3 {
	margin: 0 0 0 0;
	min-height: 65px;
	line-height: 1.4em;
	font-size: 20px;
	font-weight: bold;
	clear: both;
}

.news_list_box li h3 a {
}

.news_list_box li .desc {
	margin: 0 0 0 0;
	min-height: 120px;
	line-height: 1.5em;
	font-size: 16px;
	clear: both;
}

.news_list_box li .update {
	margin: 0 0 25px 0;
	line-height: 1.5em;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.news_list_box li .link {
	text-align: right;
	font-size: 16px;
}

.news_list_box li .link a {
	padding: 0 44px 0 0;
	color: #d80d0d;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	position: relative;
}

.news_list_box li .link a:after {
	width: 44px;
	height: 11px;
	line-height: 11px;
	transition-duration:0.2s;
	content: "　";	
	background: url("../images/icon_01.png") no-repeat right center;
	-webkit-background-size: 44px auto;
	-moz-background-size: 44px auto;
	background-size: 44px auto;
	position: absolute;
	bottom: 5px;
	right: 0;
}

.news_list_box li .link a:hover:after {
	right: -15px;
}


.news_list_box .more {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 300px;
	clear: both;
}

.news_list_box .more a {
	margin: 0 0 0 0;
	padding: 18px 10px;
	line-height: 1.2em;
	font-size: 18px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	border-bottom: solid 4px #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.news_list_box .more a:hover {
	color: #191a1c;
	/*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
}

/**
 * news
**/
.news_box {
	margin: 0 auto 0 auto;
	padding: 70px 0 215px 0;
	width: 94%;
	max-width: 950px;
	text-align: left;
	overflow: hidden;
}

.news_box .cat {
	margin: 0 18px 10px 0;
	padding: 5px 12px;
	line-height: 1.2em;
	font-size: 15px;
	float: left;
	display: inline;
}

.news_box .cat.pressrelease {
	color: #ffffff;
	background: #383e81;
}

.news_box .cat.maintenance {
	color: #ffffff;
	background: #2c5e3a;
}

.news_box .cat.topic {
	color: #ffffff;
	background: #ab121e;
}

.news_box .cat.news {
	color: #ffffff;
	background: #3b86b6;
}

.news_box .update {
	margin: 0 0 10px 0;
	padding: 5px 0;
	line-height: 1.2em;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	display: inline;
}

.news_box .head {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	line-height: 1.4em;
	font-size: 30px;
	font-weight: bold;
	clear: both;
}

.news_box .image {
	margin: 0 0 50px 0;
	padding: 0 0 0 0;
}

.news_box .desc {
	margin: 0 0 100px 0;
	padding: 0 0 0 0;
	line-height: 1.5em;
	font-size: 16px;
	overflow: hidden;
}

.news_box .desc h4 {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	line-height: 1.5em;
	font-size: 24px;
	font-weight: bold;
}

.news_box .desc p {
	margin: 0 0 40px 0;
	padding: 0 0 0 0;
}

.news_box .more {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 350px;
}

.news_box .more a {
	margin: 0 0 0 0;
	padding: 18px 10px;
	line-height: 1.2em;
	font-size: 18px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	border-bottom: solid 4px #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	display: block;
}

.news_box .more a:hover {
	color: #191a1c;
	-webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/

}

.order_box {
	margin: 0 auto 0 auto;
	padding: 60px 0 100px 0;
	width: 94%;
	max-width: 1313px;
	text-align: left;
}

.order_box h2 {
	margin: 0 auto 120px auto;
	padding: 0 0 0 0;
	max-width: 227px;
}

.order_box .wrap {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	position: relative;
}

.order_box .wrap h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 572px;
	position: absolute;
	top: 0;
	left: 0;
}

.order_box .wrap .flow_wrap01 {
	
}

.order_box .wrap .box {
	width: 42.6%;
}

.order_box .wrap .flow_wrap01 .box {
	float: right;
}

.order_box .wrap .flow_wrap02 .box {
	float: left;
}

.order_box .wrap .flow_wrap03 .box {
	float: right;
}

.order_box .wrap .flow_wrap04 .box {
	float: left;
}

.order_box .wrap .box .image {
	width: 41%;
	max-width: 230px;
}

.order_box .wrap .flow_wrap01 .box .image {
	float: right;
}

.order_box .wrap .flow_wrap02 .box .image {
	float: left;
}

.order_box .wrap .flow_wrap03 .box .image {
	width: 41.5%;
	max-width: 234px;
	float: right;
}

.order_box .wrap .flow_wrap04 .box .image {
	float: left;
}

.order_box .wrap .box .info {
	width: 57%;
}

.order_box .wrap .flow_wrap01 .box .info {
	float: left;
}

.order_box .wrap .flow_wrap02 .box .info {
	float: right;
}

.order_box .wrap .flow_wrap03 .box .info {
	float: left;
}

.order_box .wrap .flow_wrap04 .box .info {
	float: right;
}

.order_box .wrap .flow_wrap01 .box .info dl {
	min-height: 175px;
}

.order_box .wrap .flow_wrap02 .box .info dl {
	min-height: 210px;
}

.order_box .wrap .flow_wrap03 .box .info dl {
	min-height: 175px;
}

.order_box .wrap .flow_wrap04 .box .info dl {
	min-height: 180px;
}

.order_box .wrap .box .info dt {
	padding: 25px 0 10px 0;
	line-height: 1.4em;
	font-size: 22px;
	font-weight: bold;
	color: #2c2c2d;
}

.order_box .wrap .box .info dd {
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
}

.order_box .wrap .box .info .image01 {
	margin: 0 auto;
	max-width: 182px;
}

.order_box .wrap .box .info .image02 {
	margin: 0 auto;
	max-width: 254px;
}

.order_box .wrap .box .info .image03 {
	margin: 0 auto;
	max-width: 299px;
}

.order_box .wrap .box .info .image04 {
	margin: 0 auto;
	max-width: 273px;
}

.order_box .wrap .image05 {
	margin: 0 2.6% 0 0;
	width: 36%;
	max-width: 471px;
	float: right;
	display: inline;
}

.order_box .wrap .image06 {
	margin: 0 0 0 2.6%;
	width: 35.2%;
	max-width: 462px;
	float: left;
	display: inline;
}

.order_box .wrap .image07 {
	margin: 0 0 0 0;
	width: 40%;
	max-width: 517px;
	float: right;
	display: inline;
}

.order_box .wrap .arrow01 {
	margin: 0 auto;
	width: 201px;
	height: 116px;
	overflow: hidden;
	position: relative;
}

.order_box .wrap .arrow02 {
	margin: 0 auto;
	width: 244px;
	height: 142px;
	overflow: hidden;
	position: relative;
}


/**
 * スライドイン
**/
.slidein {
	opacity : 0.0;
	transform : translate(0, 50px);
	transition : all 800ms;
}
 
.slidein.on {
	opacity : 1;
	transform : translate(0, 0);
}

.slidein_right {
	opacity : 0.0;
	transform : translate(50px, 0);
	transition : all 800ms;
}
 
.slidein_right.on {
	opacity : 1;
	transform : translate(0, 0);
}

.slidein_left {
	opacity : 0.0;
	transform : translate(-50px, 0);
	transition : all 800ms;
}
 
.slidein_left.on {
	opacity : 1;
	transform : translate(0, 0);
}

.slidein_arrow01 {
	opacity : 0.0;
	transform : translate(201px, -116px);
	transition : all 800ms;
}
 
.slidein_arrow01.on {
	opacity : 1;
	transform : translate(0, 0);
}

.slidein_arrow02 {
	opacity : 0.0;
	transform : translate(-244px, -142px);
	transition : all 800ms;
}
 
.slidein_arrow02.on {
	opacity : 1;
	transform : translate(0, 0);
}


.action2 {
	transition : all 800ms 0.3s;
}
 
.action3 {
	transition : all 800ms 0.6s;
}
