@charset "UTF-8";

/**
 *
 * レイアウト、共通コンテンツ
 *
**/


/**
 * pace
**/
.pace {
	background: #fbfbfd;
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #ee0000;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

/**
 * ラッパー
**/

#wrapper {
	overflow: hidden;
	margin-top: 90px;
}


/**
 * ヘッダー
**/
#header {
	width: 100%;
	height: 90px;
	position: fixed;
    background: #FFFFFF	;
	top: 0;
	left: 0;
	z-index: 9000;
}

#header.fixed {
	background: #ffffff;
	box-shadow: 0px 3px 3px rgba(106,127,136,0.15);
	position: fixed;
}

#header .wrap {
	margin: 0 auto;
	width: 96%;
	height: 90px;
	position: relative;
}

#header img {
	width: 100%;
	height: auto;
	display: block;
}

#header h1 {
	width: 20%;
	max-width: 250px;
	position: absolute;
	top: 27px;
	left: 0;
}

#header.fixed h1 {
	top: 19px;
}

#header #navi {
	position: absolute;
	top: 30px;
	right: 0;
}

#header.fixed #navi {
	position: absolute;
	top: 22px;
	right: 0;
}

#header #navi ul {

}

#header #navi ul li {
	margin: 0 0 0 45px;
	float: left;
}

#header #navi ul li:nth-of-type(1) {
	border-left: none;
}

#header #navi ul li a {
	padding: 0 0 0 0;
	width: 100%;
	line-height: 46px;
	font-size: 14px;
	color: #080808;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

#header #navi ul li a:hover {
	/*color: #FF3333;*/
	border-bottom: 2px solid #888888
}

#header #navi ul li a.active {
	color: #d80d0d;
}

#header #navi ul li a.contact {
	padding: 0 25px;
	color: #ffffff;
	background: #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
}

#header #navi ul li a.contact:hover {
	color: #ed0000;
	background: #ffffff;
}




/**
 * メインイメージ
**/
#main_image {
	padding: 0 0 0 0;
	padding: 250 0 0 0;
	width: 100%;
	height: 100vh;
	background: url("negao.jpg") no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
}

#main_image img {
	width: 100%;
	height: auto;
	display: block;
}

#main_image .text_box {
	margin: 0 auto;
	padding: 20% 0 0 0;
	width: 94%;
	max-width: 1110px;
	line-height: 1.6em;
	text-align: left;
	font-size: 16px;
	color: #000000;
}

#main_image .text_box h2 {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	line-height: 1.2em;
	text-align: left;
	font-size: 60px;
	font-weight: bold;
	color: #070709;
	opacity: 0;
}

#main_image .text_box p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	opacity: 0;
}

#main_image .scroll {
	margin: 0 0 0 -5px;
	padding: 0 0 0 0;
	width: 10px;
	height: 95px;
	position: absolute;
	bottom: -23px;
	left: 50%;
}

#main_image .scroll .scroll_line {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 10px;
	height: 50px;
	position: relative;
	overflow: hidden;
}

#main_image .scroll .scroll_line img {
	position: absolute;
	top: -100%;
	left: 0;
}


/**
 * ページイメージ
**/
#page_image {
	width: 100%;
	height: 460px;
	position: relative;
}

#page_image img {
	width: 100%;
	height: auto;
	display: block;
}


#page_image.news {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image.faq {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image.functions {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image h2 {
	margin: 20px 0 0 -600px;
	position: absolute;
	top: 215px;
	left: 50%;
	opacity: 0;
}

#page_image.price h2 {
	max-width: 188px;
}

#page_image.contact h2 {
	max-width: 309px;
}

#page_image.news h2 {
	max-width: 196px;
}

#page_image.faq h2 {
	max-width: 141px;
}

#page_image.functions h2 {
	max-width: 368px;
}


/**
 * コンテンツ
**/
#content {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	overflow: hidden;
}

#content img {
	width: 100%;
	height: auto;
	display: block;
}



/**
 * フッター
**/
#footer {
	width: 100%;
	line-height: 1.4em;
	font-size: 14px;
	color: #ffffff;
	background: #2c2c2d;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#footer img {
	width: 100%;
	height: auto;
	display: block;
}

#footer .wrap {
	padding: 45px 0 60px 0;
	width: 100%;
	text-align: left;
	position: relative;
}

#footer #pagetop {
	margin: -30px 0 0 0;
	width: 61px;
	display: block;
	position: absolute;
	top: 0;
	right: 40px;
	z-index: 1;
}

#footer .wrap .logo {
	text-align: center;
}

#footer .wrap .copyright {
	line-height: 1.4em;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #70707f;
	text-align: center;
}

