@charset "UTF-8";

/**
 *
 * レスポンシブウェブデザイン用
 *
**/


/**
 * タブレット端末用
**/

@media only screen and (min-width: 681px) and (max-width: 1200px) {
body {
	min-width: 0px;
	padding: 0;
	-webkit-text-size-adjust: none;
}

.tb_disp { display: block !important; }


/**
 * ヘッダー
**/
#header #navi ul li {
	margin: 0 0 0 3vw;
}

#header #navi ul li a.contact {
	padding: 0 2vw;
}


/**
 * ページイメージ
**/

#page_image h2 {
	margin: 0 0 0 0;
	position: absolute;
	top: 245px;
	left: 4%;
	opacity: 0;
}


/**
 * フッター
**/
/*
#footer .contact_info .link {
	padding: 80px 32% 0 32%;
	line-height: 1.4em;
	font-size: 18px;
	font-weight: bold;
}
*/
#footer .contact_info a {
	padding: 0 32% 0 32%;
}

#footer .contact_info .link {
	text-align: left;
}

#footer .contact_info .image {
	width: 30%;
	max-width: 364px;
	position: absolute;
	bottom: 0;
	left: 1.8%;
}

#footer .wrap .link {
	max-width: 65%;
}

#footer .wrap .link li {
	padding: 0 0 0 3vw;
	line-height: 1.2em;
	font-size: 14px;
	display: inline-block;
}



/**
 * home
**/
.concept_box .detail h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 50%;
	max-width: 430px;
	position: absolute;
	top: -38px;
	right: -90px;
}

.sales_up_box .detail h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 30%;
	max-width: 339px;
	position: absolute;
	top: -38px;
	left: 3.45%;
	z-index: 1;
}

.order_box .wrap h3 {
	width: 52%;
	max-width: 572px;
	position: absolute;
	top: 0;
	left: 0;
}

.order_box .wrap .box .info dt {
	padding: 20px 0 10px 0;
	line-height: 1.4em;
	font-size: 20px;
	font-weight: bold;
	color: #2c2c2d;
}

.order_box .wrap .box .info dd {
	line-height: 1.5em;
	font-size: 14px;
	color: #19191b;
}


/**
 * price
**/

.price_box .service_list li {
	margin: 0 2% 50px 0;
	padding: 0 0 0 0;
	width: 32%;
	min-height: 280px;
	float: left;
	display: inline;
}

.price_box .service_list li:nth-of-type(3n) {
	margin: 0 0 50px 0;
}

.price_box .service_list li:nth-of-type(3n+1) {
	clear: both;
}

.price_box .service_list li dl {
	padding: 20px 15px 0 15px;
}

.price_box .option_list li {
	margin: 0 2% 50px 0;
	padding: 0 0 0 0;
	width: 32%;
	min-height: 280px;
	float: left;
	display: inline;
}

.price_box .option_list li:nth-of-type(3n) {
	margin: 0 0 50px 0;
}

.price_box .option_list li:nth-of-type(3n+1) {
	clear: both;
}

.price_box .option_list li dl {
	padding: 20px 15px 0 15px;
}



/**
 * news list
**/
.news_list_box {
	margin: 0 0 0 0;
	padding: 70px 0 160px 0;
}

.news_list_box h2 {
	margin: 0 auto 70px auto;
	padding: 0 0 0 0;
	max-width: 126px;
}

.news_list_box.related {
	margin: 0 0 0 0;
	padding: 80px 0 0 0;
	background: #fbfbfd;
	position: relative;
}

.news_list_box .head {
	width: 100%;
	text-align: center;
	position: absolute;
	top: -30px;
	left: 0;
}

.news_list_box .head .eng {
	line-height: 1.4em;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

.news_list_box .head h3 {
	line-height: 1.4em;
	font-size: 14px;
	font-weight: bold;
}

.news_list_box ul {
	margin: 0 auto 45px auto;
	width: 94%;
	max-width: 1076px;
	text-align: left;
	overflow: hidden;
}

.news_list_box.home ul {
	margin: 0 auto 0 auto;
}

.news_list_box.related ul {
	margin: 0 auto 0 auto;
}

.news_list_box li {
	margin: 0 2% 105px 0;
	padding: 0 0 0 0;
	width: 32%;
	max-width: 300px;
	float: left;
	display: inline;
}

.news_list_box li:nth-of-type(3n) {
	margin: 0 0 105px 0;
}

.news_list_box li:nth-of-type(3n+1) {
	clear: both;
}

.news_list_box.home li {
	margin: 0 2% 70px 0;
}

.news_list_box.home li:nth-of-type(3n) {
	margin: 0 0 70px 0;
}

.news_list_box li .image {
	height: 220px;
}

.news_list_box li .image a {
	height: 220px;
}

.news_list_box li .cat {
	margin: 0 10px 10px 0;
	padding: 5px 12px;
	float: left;
	display: inline;
}

.news_list_box li .cat.pressrelease {
	color: #ffffff;
	background: #383e81;
}

.news_list_box li .cat.maintenance {
	color: #ffffff;
	background: #2c5e3a;
}

.news_list_box li .cat.topic {
	color: #ffffff;
	background: #ab121e;
}

.news_list_box li .cat.news {
	color: #ffffff;
	background: #3b86b6;
}

.news_list_box li .cat.interview {
	color: #ffffff;
	background: #603177;
}

.news_list_box li h3 {
	margin: 0 0 0 0;
	min-height: 85px;
	line-height: 1.4em;
	font-size: 18px;
	font-weight: bold;
	clear: both;
}

.news_list_box li h3 a {
}

.news_list_box li .desc {
	margin: 0 0 0 0;
	min-height: 160px;
	line-height: 1.5em;
	font-size: 15px;
	clear: both;
}

.news_list_box li .update {
	margin: 0 0 25px 0;
	line-height: 1.5em;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}


/**
 * functions
**/
.functions_box .content_link_list li a {
	padding: 15px 10px;
	line-height: 1.5em;
	font-size: 14px;
	text-align: center;
	color: #19191b;
	background: #eeeef7;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}




}


/**
 * スマートフォン端末用
**/

@media only screen and (max-width: 680px) {
body {
	min-width: 0px;
	padding: 0;
	-webkit-text-size-adjust: none;
	background: none;
}

/**
 * SP表示
**/
.pc_disp { display: none !important; }
.sp_disp { display: block !important; }


/**
 * ラッパー
**/

#wrapper {
	overflow: hidden;
}


/**
 * ヘッダー
**/
#header {
	width: 100%;
	height: 46px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9000;
}

#header.fixed {
	background: #ffffff;
	box-shadow: 0px 3px 3px rgba(106,127,136,0.15);
	position: fixed;
}

#header .wrap {
	margin: 0 auto;
	width: 100%;
	height: 46px;
	position: relative;
}

#header img {
	width: 100%;
	height: auto;
	display: block;
}

#header h1 {
	width: 135px;
	max-width: 135px;
	position: absolute;
	top: 10px;
	left: 3%;
}

#header.fixed h1 {
	top: 10px;
}

#header #switch {
	width: 30px;
	display: block;
	position: absolute;
	top: 10px;
	right: 3%;
	z-index: 1000;
}

#header #switch img.off {
	display: block !important;
}

#header #switch img.on {
	display: none !important;
}

#header #switch.active img.off {
	display: none !important;
}

#header #switch.active img.on {
	display: block !important;
}

#header #navi {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}

#header.fixed #navi {
	position: absolute;
	top: 0;
	right: 0;
}

#header #navi ul {
	width: 100%;
	height: 100vh;
	background: #ffffff;
	display: none;
}

#header #navi ul li {
	margin: 0 0 0 0;
	padding: 50px 0 15px 0;
	float: none;
}

#header #navi ul li:nth-of-type(1) {
	border-left: none;
}

#header #navi ul li a {
	padding: 0 0 0 0;
	width: 100%;
	line-height: 1.2em;
	font-size: 17px;
	color: #080808;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

#header #navi ul li a:hover {
	color: #d80d0d;
}

#header #navi ul li a.active {
	color: #d80d0d;
}

#header #navi ul li a.contact {
	margin: 0 auto;
	padding: 10px 0;
	width: 74%;
	color: #ffffff;
	background: #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
}

#header #navi ul li.sns a {
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 40px;
	display: block;
}


/**
 * メインイメージ
**/
#main_image {
	margin: 0 0 0 0;
	padding: 45px 0 0 0;
	width: 100%;
	height: auto;
	background: none;
	position: relative;
}

#main_image img {
	width: 100%;
	height: auto;
	display: block;
}

#main_image .text_box {
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 94%;
	max-width: 1110px;
	line-height: 1.6em;
	text-align: left;
	font-size: 12px;
	color: #000000;
	position: absolute;
	top: 40%;
	left: 3%;
}

#main_image .text_box h2 {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	line-height: 1.2em;
	text-align: left;
	font-size: 26px;
	font-weight: bold;
	color: #070709;
	opacity: 0;
}

#main_image .text_box p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	opacity: 0;
}

#main_image .scroll {
	margin: 0 0 0 -5px;
	padding: 0 0 0 0;
	width: 10px;
	height: 95px;
	position: absolute;
	bottom: -23px;
	left: 50%;
}

#main_image .scroll .scroll_line {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 10px;
	height: 50px;
	position: relative;
	overflow: hidden;
}

#main_image .scroll .scroll_line img {
	position: absolute;
	top: -100%;
	left: 0;
}



/**
 * ページイメージ
**/
#page_image {
	width: 100%;
	height: 165px;
	position: relative;
}

#page_image img {
	width: 100%;
	height: auto;
	display: block;
}

#page_image.price {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image.contact {
	background: url("../images/contact_main_image_01-sp.png") no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image.news {
	background: url("../images/news_main_image_01-sp.png") no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image.faq {
	background: url("../images/faq_main_image_01-sp.png") no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image.functions {
	background: url("../images/functions_main_image_01-sp.png") no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#page_image h2 {
	margin: 20px 0 0 0;
	position: absolute;
	top: 66px;
	left: 7.2%;
	opacity: 0;
}

#page_image.price h2 {
	max-width: 75px;
}

#page_image.contact h2 {
	max-width: 142px;
}

#page_image.news h2 {
	max-width: 78px;
}

#page_image.faq h2 {
	max-width: 89px;
}

#page_image.functions h2 {
	max-width: 147px;
}


/**
 * コンテンツ
**/
#content {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	overflow: hidden;
}

#content img {
	width: 100%;
	height: auto;
	display: block;
}



/**
 * フッター
**/
#footer {
	width: 100%;
	line-height: 1.4em;
	font-size: 14px;
	color: #ffffff;
	background: #2c2c2d;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#footer img {
	width: 100%;
	height: auto;
	display: block;
}

#footer .wrap {
	padding: 25px 0 25px 0;
	width: 100%;
	text-align: left;
	position: relative;
}

#footer #pagetop {
	margin: -30px 0 0 0;
	width: 61px;
	display: block;
	position: absolute;
	top: 0;
	right: 40px;
	z-index: 1;
}

#footer .wrap .logo {
	margin: 0 auto 10px auto;
	max-width: 125px;
}

#footer .wrap .copyright {
	margin: 0 0 0 0;
	line-height: 1.4em;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #70707f;
	text-align: center;
}


/**
 * home
**/
.concept_box {
	margin: 0 0 0 0;
	padding: 45px 0 100px 0;
	width: 100%;
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
}

.concept_box h2 {
	margin: 0 auto 60px auto;
	padding: 0 0 0 0;
	max-width: 128px;
}

.concept_box .detail {
	margin: 0 0 0 0;
	padding: 65px 0 0 0;
	width: 92%;
	text-align: left;
	background: #eeeef7;
	position: relative;
}

.concept_box .detail h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 191px;
	position: absolute;
	top: -18px;
	right: -20px;
}

.concept_box .detail ol {
	margin: 0 20px;
}

.concept_box .detail ol li {
	padding: 0 0 35px 0;
	width: 100%;
	position: relative;
	float: none;
	display: block;
}

.concept_box .detail ol li:nth-of-type(1) {
	margin: 0 0 0 0;
}

.concept_box .detail ol li:nth-of-type(2) {
	margin: 0 0 0 0;
}

.concept_box .detail ol li:nth-of-type(3) {
	margin: 0 0 0 0;
}

.concept_box .detail ol li:nth-of-type(1):before {
	width: 20px;
	height: 20px;
	line-height: 20px;
	content: "　";
	background: url("../images/concept_num_01.png") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
}

.concept_box .detail ol li:nth-of-type(2):before {
	width: 20px;
	height: 20px;
	line-height: 20px;
	content: "　";
	background: url("../images/concept_num_02.png") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
}

.concept_box .detail ol li:nth-of-type(3):before {
	width: 20px;
	height: 20px;
	line-height: 20px;
	content: "　";
	background: url("../images/concept_num_03.png") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
}

.concept_box .detail ol li .image {
	margin: 0 0 0 0;
	width: 95px;
	height: auto;
	display: block;
	float: left;
}

.concept_box .detail ol li .image .cell {
	width: 95px;
	height: auto;
	text-align: center;
	display: block;
}

.concept_box .detail ol li:nth-of-type(1) .image img {
	margin: 0 0 0 0;
	max-width: 100%;
}

.concept_box .detail ol li:nth-of-type(2) .image img {
	margin: 0 0 0 0;
	max-width: 100%;
}

.concept_box .detail ol li:nth-of-type(3) .image img {
	margin: 0 0 0 0;
	max-width: 100%;
}

.concept_box .detail ol li dl {
	overflow: hidden;
}

.concept_box .detail ol li dt {
	line-height: 1.2em;
	font-size: 17px;
	font-weight: bold;
	color: #2c2c2d;
}

.concept_box .detail ol li dd {
	padding: 5px 0 0 0;
	line-height: 1.5em;
	font-size: 14px;
}

.sales_up_box {
	margin: 0 0 0 0;
	padding: 105px 0 110px 0;
	width: 100%;
	line-height: 1.5em;
	font-size: 16px;
	color: #19191b;
}

.sales_up_box .detail {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	text-align: left;
	position: relative;
}

.sales_up_box .detail h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 168px;
	position: absolute;
	top: -38px;
	left: 3.45%;
	z-index: 1;
}

.sales_up_box .detail ul {
	padding: 0 0 0 0;
}

.sales_up_box .detail ul li {
	padding: 0 0 25px 0;
	width: 100% !important;
	position: relative;
	float: none;
	display: block;
}

.sales_up_box .detail ul li:nth-of-type(2) {
	margin: 0 0 0 0;
}

.sales_up_box .detail ul li .image {
	margin: 0 0 15px 0;
	overflow: hidden;
}

.sales_up_box .detail ul li .image img {
	width: 82.66% !important;
}

.sales_up_box .detail ul li:nth-of-type(1) .image img {
	float: right;
}

.sales_up_box .detail ul li:nth-of-type(3) .image img {
	float: right;
}

.sales_up_box .detail ul li dl {
	margin: 0 auto;
	width: 94%;
}

.sales_up_box .detail ul li dt {
	margin: 0 0 0 0;
	line-height: 1.2em;
	font-size: 17px;
	font-weight: bold;
	color: #2c2c2d;
}

.sales_up_box .detail ul li dd {
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	line-height: 1.5em;
	font-size: 14px;
}

.sales_up_box .detail .link {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 67%;
}

.sales_up_box .detail .link a {
	margin: 0 0 0 0;
	padding: 12px 5px;
	line-height: 1.2em;
	font-size: 14px;
	color: #ffffff;
	background: #ed0000;
	text-align: center;
	text-decoration: none;
	border: 1px solid #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}

.great_settlement_box {
	margin: 0 auto 0 auto;
	padding: 0 0 35px 0;
	width: 94%;
	position: relative;
}

.great_settlement_box .head {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 178px;
	position: absolute;
	top: -45px;
	right: -8px;
	z-index: 1;
}

.great_settlement_box .head .box {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	background: none;
}

.great_settlement_box .head .box h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: 715px;
}

.great_settlement_box .wrap {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.great_settlement_box .wrap #slider {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

.great_settlement_box .wrap #slider .box {
	overflow: hidden;
}

.great_settlement_box .wrap #slider .box .image {
	margin: 0 0 10px 0;
}

.great_settlement_box .wrap #slider .box .num {
	margin: 0 10px 0 0;
	width: 20px;
	float: left;
	display: inline;
}

.great_settlement_box .wrap #slider .box dl {
	text-align: left;
	color: #070709;
	overflow: hidden;
}

.great_settlement_box .wrap #slider .box dl dt {
	line-height: 1.2em;
	font-size: 17px;
	font-weight: bold;
}

.great_settlement_box .wrap #slider .box dl dd {
	line-height: 1.4em;
	font-size: 14px;
}


/**
 * functions
**/
.functions_box {
	margin: 0 auto 0 auto;
	padding: 25px 0 150px 0;
	width: 94%;
	max-width: 1076px;
	line-height: 1.5em;
	font-size: 14px;
	color: #19191b;
	overflow: hidden;
}

.functions_box .content_link_list {
	margin: 0 0 0 0;
	padding: 0 0 40px 0;
	width: 100%;
}

.functions_box .content_link_list li {
	margin: 0 3.05% 15px 0 !important;
	padding: 0 0 0 0;
	width: 31.3%;
	height: 40px;
	float: left;
	display: inline;
}

.functions_box .content_link_list li:nth-of-type(4n) {
	margin: 0 3.05% 15px 0 !important;
}

.functions_box .content_link_list li:nth-of-type(4n+1) {
	clear: none;
}

.functions_box .content_link_list li:nth-of-type(3n) {
	margin: 0 0 15px 0 !important;
	float: right;
}

.functions_box .content_link_list li:nth-of-type(3n+1) {
	clear: both;
}

.functions_box .content_link_list li a {
	padding: 0 0 0 0;
	width: 100%;
	height: 40px;
	line-height: 1.2em;
	text-align: center;
	font-size: 12px;
	color: #19191b;
	background: #eeeef7;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: table;
	vertical-align: middle;
}

.functions_box .content_link_list li a .cell {
	padding: 0 0 0 0;
	width: 100%;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}

.functions_box .function {
	padding: 0 0 35px 0;
}

.functions_box .function .image {
	margin: 0 0 15px 0;
	width: 100%;
	max-width: 100%;
	float: none;
	display: block;
}

.functions_box .function#function02 .image {
	float: none !important;
}

.functions_box .function#function04 .image {
	float: none !important;
}

.functions_box .function#function06 .image {
	float: none !important;
}

.functions_box .function#function08 .image {
	float: none !important;
}

.functions_box .function#function10 .image {
	float: none !important;
}

.functions_box .function#function12 .image {
	float: none !important;
}

.functions_box .function#function14 .image {
	float: none !important;
}

.functions_box .function#function16 .image {
	float: none !important;
}

.functions_box .function dl {
	width: 100%;
	text-align: left;
	float: none;
	display: block;
}

.functions_box .function#function02 dl {
	float: none !important;
}

.functions_box .function#function04 dl {
	float: none !important;
}

.functions_box .function#function06 dl {
	float: none !important;
}

.functions_box .function#function08 dl {
	float: none !important;
}

.functions_box .function#function10 dl {
	float: none !important;
}

.functions_box .function#function12 dl {
	float: none !important;
}

.functions_box .function#function14 dl {
	float: none !important;
}

.functions_box .function#function16 dl {
	float: none !important;
}

.functions_box .function dl dt {
	margin: 0 0 5px 0;
	line-height: 1.2em;
	font-size: 17px;
	font-weight: bold;
}

.functions_box .function dl dd {
}

.functions_box .function dl dd p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.functions_box .function dl dd p.note {
	margin: 0 0 0 0;
	padding: 15px 0 0 0;
	line-height: 1.5em;
	font-size: 12px;
}


/**
 * price
**/
.price_box {
	margin: 0 auto 0 auto;
	padding: 30px 0 270px 0;
	width: 94%;
	max-width: 1076px;
	line-height: 1.5em;
	font-size: 14px;
	text-align: left;
	color: #19191b;
	overflow: hidden;
}

.price_box h3 {
	margin: 0 auto 0 auto;
	padding: 0 0 60px 0;
	max-width: 79px;
}

.price_box .service_list {
	margin: 0 0 0 0;
	padding: 20px 0 105px 0;
}

.price_box .service_list li {
	margin: 0 0 15px 0;
	padding: 0 0 100px 0;
	width: 100%;
	min-height: 0px;
	float: none;
	display: block;
}

.price_box .service_list li.item01 {
	background: #eeeef7 url("../images/price_image_01-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .service_list li.item02 {
	background: #eeeef7 url("../images/price_image_02-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .service_list li.item03 {
	background: #eeeef7 url("../images/price_image_03-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .service_list li.item04 {
	background: #eeeef7 url("../images/price_image_04-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .service_list li.item05 {
	background: #eeeef7 url("../images/price_image_05-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .service_list li.item06 {
	background: #eeeef7 url("../images/price_image_06-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .service_list li:nth-of-type(3n) {
	margin: 0 0 15px 0;
}

.price_box .service_list li:nth-of-type(3n+1) {
	clear: both;
}

.price_box .service_list li dl {
	padding: 15px 20px 0 20px;
}

.price_box .service_list li dl dt {
	padding: 0 0 5px 0;
	line-height: 1.2em;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

.price_box .service_list li dl dd {
	padding: 0 0 0 0;
	line-height: 1.5em;
	text-align: left;
	font-size: 14px;
}

.price_box .service_list li dl dd.center {
	padding: 0 0 0 0;
	line-height: 1.5em;
	text-align: center;
	font-size: 18px;
}

.price_box .option_list {
	margin: 0 0 0 0;
	padding: 0 0 35px 0;
}

.price_box .option_list li {
	margin: 0 0 35px 0;
	padding: 0 0 100px 0;
	width: 100%;
	min-height: 0px;
	float: left;
	display: inline;
}

.price_box .option_list li.item01 {
	background: url("../images/price_image_07-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .option_list li.item02 {
	background: url("../images/price_image_08-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .option_list li.item03 {
	background: url("../images/price_image_09-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .option_list li.item04 {
	background: url("../images/price_image_10-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .option_list li.item05 {
	background: url("../images/price_image_11-sp.png") no-repeat center bottom;
	-webkit-background-size: 335px auto;
	-moz-background-size: 335px auto;
	background-size: 335px auto;
}

.price_box .option_list li.item06 {
	padding: 0 0 0 0;
}

.price_box .option_list li:nth-of-type(3n) {
	margin: 0 0 35px 0;
}

.price_box .option_list li:nth-of-type(3n+1) {
	clear: both;
}

.price_box .option_list li dl {
	padding: 0 20px 0 20px;
}

.price_box .option_list li dl dt {
	padding: 0 0 5px 0;
	line-height: 1.2em;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

.price_box .option_list li dl dd {
	padding: 0 0 0 0;
	line-height: 1.5em;
	text-align: left;
	font-size: 14px;
}

.price_box .option_list li dl dd ul {
	padding: 15px 0 0 0;
}

.price_box .option_list li dl dd li {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 1em !important;
	width: auto;
	min-height: 0;
	float: none;
	display: block;
	position: relative;
}

.price_box .option_list li dl dd li:before {
	content: "・";
	position: absolute;
	top: 0;
	left: 0;
}

.price_box .note {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.price_box .link {
	margin: 0 auto 0 auto;
	padding: 20px 0 0 0;
	width: 67%;
}

.price_box .link a {
	margin: 0 0 0 0;
	padding: 12px 5px;
	line-height: 1.2em;
	font-size: 14px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}



/**
 * contact
**/
.contact_box {
	margin: 0 auto 0 auto;
	padding: 35px 0 100px 0;
	width: 94%;
	max-width: 850px;
	line-height: 1.5em;
	font-size: 12px;
	overflow: hidden;
}

.contact_box p {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
}

.contact_box p.privacy {
	margin: 0 0 0 0;
	padding: 20px 0 20px 0;
	text-align: left;
}

.contact_box a {
	color: #d91d1d;
	text-decoration: underline;
}

.contact_box a:hover {
	color: #d91d1d;
	text-decoration: none;
}

.contact_box .parts {
	margin: 0 0 0 0;
	padding: 45px 0 0 0;
}

.contact_box .parts.half {
	width: 100%;
	float: none !important;
}

.contact_box .parts.border {
	border-bottom: 1px solid #d6d6dd;
}

.contact_box .parts .select_confirm {
	margin: 0 0 0 0;
	padding: 15px;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	border: 1px solid #d6d6dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.contact_box .parts .label {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	line-height: 1.2em;
	text-align: left;
	font-size: 12px;
	color: #898b9b;
}

.contact_box .parts .text_confirm {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	color: #070709;
}

.contact_box .parts .textarea {
	margin: 0 0 0 0;
	padding: 15px;
	width: 100%;
	min-height: 100px;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	border: 2px solid #d6d6dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

.contact_box .parts .textarea_confirm {
	margin: 0 0 0 0;
	padding: 15px;
	min-height: 100px;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	border: 1px solid #d6d6dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.contact_box .parts .select {

}

.contact_box .parts .select select {
	margin: 0 0 0 0;
	padding: 15px 30px 15px 15px;
	width: 100%;
	line-height: 1.2em;
	font-size: 14px;
	cursor: pointer;
	color: #191a1c;
	background: #ffffff url("../images/arrow_02.png") no-repeat right center;
	-webkit-background-size: 22px auto;
	-moz-background-size: 22px auto;
	background-size: 22px auto;
	border: 2px solid #d6d6dd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.contact_box .parts .select select::-ms-expand {
    display: none;
}

.contact_box .parts .select select.none_active {
	color: #ffffff;
}


.contact_box .parts .text {
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	width: 100%;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	background: #ffffff;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #070709;
}
::placeholder {
	color: #898c9a;
}

.contact_box .parts label {
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	width: 100%;
	line-height: 1.2em;
	text-align: left;
	font-size: 14px;
	color: #898c9a;
	transition-duration:0.4s;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
}

.contact_box .parts label.select_label {
	left: 15px;
}


.contact_box .parts label.active {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	line-height: 1.2em;
	text-align: left;
	font-size: 12px;
	color: #898c9a;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 55px;
	left: 0;
}

.contact_box .parts label em {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2em;
	font-size: 10px;
	color: #d80d0d;
}

.contact_box .parts label.active em {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2em;
	font-size: 8px;
	color: #d80d0d;
}

.contact_box .parts .error {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2em;
	font-size: 12px;
	color: #d90d0d;
	text-align: left;
	position: absolute;
	bottom: -22px;
	left: 0;
}



.contact_box .btn_wrap {
	margin: 0 auto;
	padding: 15px 0 0 0;
	width: 100%;
	overflow: hidden;
	clear: both;
}

.contact_box .btn_wrap .return {
	margin: 0 0 0 0;
	padding: 10px 10px;
	width: 46%;
	line-height: 1.4em;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background: #ffffff;
	color: #19191b;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	-webkit-appearance: none;
}

.contact_box .btn_wrap .send {
	margin: 0 0 0 0;
	padding: 10px 10px;
	width: 46%;
	line-height: 1.4em;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background: #ed0000;
	border: 1px solid #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	float: right;
	-webkit-appearance: none;
}

.contact_box .btn_wrap .check {
	margin: 0 0 0 0;
	padding: 10px 10px;
	width: 100%;
	line-height: 1.4em;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background: #ed0000;
	border: 1px solid #ed0000;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;
}



/**
 * thanks
**/
.thanks_box {
	margin: 0 auto 0 auto;
	padding: 35px 0 100px 0;
	width: 94%;
	max-width: 1076px;
	line-height: 1.5em;
	font-size: 14px;
	overflow: hidden;
}

.thanks_box p {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	text-align: left;
}

.thanks_box .image {
	margin: 0 auto 45px auto;
	padding: 0 0 0 0;
	width: 100%;
}

.thanks_box .link {
	margin: 0 auto 0 auto;
	padding: 20px 0 0 0;
	width: 67%;
}

.thanks_box .link a {
	margin: 0 0 0 0;
	padding: 12px 5px;
	line-height: 1.2em;
	font-size: 14px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}

/**
 * faq
**/
.faq_box {
	margin: 0 auto 0 auto;
	padding: 40px 0 50px 0;
	width: 94%;
	max-width: 1076px;
	text-align: left;
	overflow: hidden;
}

.faq_box h2 {
	margin: 0 auto 20px auto;
	padding: 0 0 0 0;
	max-width: 68px;
}

.faq_box h3 {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	line-height: 1.4em;
	font-size: 20px;
	font-weight: bold;
}

.faq_box ul {
	margin: 0 0 50px 0;
	overflow: hidden;
}

.faq_box li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
	border-bottom: 1px solid #c1c3cb;
	overflow: hidden;
}

.faq_box li dl {
	overflow: hidden;
}

.faq_box li dl dt {

}

.faq_box li dl dt a {
	padding: 15px 30px 15px 35px;
	line-height: 1.2em;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background: url("../images/icon_q-sp.png") no-repeat 0 13px;
	-webkit-background-size: 20px auto;
	-moz-background-size: 20px auto;
	background-size: 20px auto;
	position: relative;
	display: block;
}

.faq_box li dl dt a:after {
	margin: -9px 0 0 0;
	width: 19px;
	height: 19px;
	line-height: 19px;
	content: "　";
	background: url("../images/faq_open.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 50%;
	right: 9px;
	display: block;
}

.faq_box li dl dd {
	padding: 0 0 15px 35px;
	line-height: 1.5em;
	font-size: 14px;
	background: url("../images/icon_a-sp.png") no-repeat 0 0;
	-webkit-background-size: 20px auto;
	-moz-background-size: 20px auto;
	background-size: 20px auto;
	position: relative;
}

.faq_box .more {
	margin: 0 auto 115px auto;
	padding: 0 0 0 0;
	width: 67%;
}

.faq_box .more a {
	margin: 0 0 0 0;
	padding: 12px 5px;
	line-height: 1.2em;
	font-size: 14px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}


/**
 * news list
**/
.news_list_box {
	margin: 0 0 0 0;
	padding: 35px 0 80px 0;
}

.news_list_box h2 {
	margin: 0 auto 70px auto;
	padding: 0 0 0 0;
	max-width: 126px;
}

.news_list_box.related {
	margin: 0 0 0 0;
	padding: 60px 0 0 0;
	background: #fbfbfd;
	position: relative;
}

.news_list_box .head {
	width: 100%;
	text-align: center;
}

.news_list_box .head h3 {
	margin: 0 0 0 -92px;
	max-width: 183px;
	position: absolute;
	top: -12px;
	left: 50%;
}

.news_list_box ul {
	margin: 0 auto 30px auto;
	width: 94%;
	max-width: 1076px;
	text-align: left;
}

.news_list_box.home ul {
	margin: 0 auto 0 auto;
}

.news_list_box.related ul {
	margin: 0 auto 0 auto;
}

.news_list_box li {
	margin: 0 0 40px 0;
	padding: 0 0 0 0;
	width: 100%;
	max-width: 100%;
	float: none;
	display: block;
}

.news_list_box li:nth-of-type(3n) {
	margin: 0 0 40px 0;
}

.news_list_box li:nth-of-type(3n+1) {
	clear: both;
}

.news_list_box.home li {
	margin: 0 0 40px 0;
}

.news_list_box.home li:nth-of-type(3n) {
	margin: 0 0 40px 0;
}

.news_list_box li .image {
	margin: 0 0 15px 0;
	height: 150px;
}

.news_list_box li .image a {
	height: 150px;
}

.news_list_box li .cat {
	margin: 0 5px 5px 0;
	padding: 3px 5px;
	line-height: 1.2em;
	font-size: 10px;
	float: left;
	display: inline;
}

.news_list_box li .cat.pressrelease {
	color: #ffffff;
	background: #383e81;
}

.news_list_box li .cat.maintenance {
	color: #ffffff;
	background: #2c5e3a;
}

.news_list_box li .cat.topic {
	color: #ffffff;
	background: #ab121e;
}

.news_list_box li .cat.news {
	color: #ffffff;
	background: #3b86b6;
}

.news_list_box li .cat.interview {
	color: #ffffff;
	background: #603177;
}

.news_list_box li h3 {
	margin: 0 0 10px 0;
	min-height: 0px;
	line-height: 1.4em;
	font-size: 17px;
	font-weight: bold;
	clear: both;
}

.news_list_box li h3 a {
}

.news_list_box li .desc {
	margin: 0 0 15px 0;
	min-height: 0px;
	line-height: 1.5em;
	font-size: 14px;
	clear: both;
}

.news_list_box li .update {
	margin: 0 0 0 0;
	line-height: 1.5em;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
}

.news_list_box li .link {
	text-align: right;
	font-size: 12px;
	float: right;
}

.news_list_box li .link a {
	padding: 0 35px 0 0;
	color: #d80d0d;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
}

.news_list_box li .link a:after {
	width: 32px;
	height: 11px;
	line-height: 11px;
	transition-duration:0.2s;
	content: "　";	
	background: url("../images/icon_01.png") no-repeat right center;
	-webkit-background-size: 32px auto;
	-moz-background-size: 32px auto;
	background-size: 32px auto;
	position: absolute;
	bottom: 5px;
	right: 0;
}

.news_list_box li .link a:hover:after {
	right: -7px;
}


.news_list_box .more {
	margin: 0 auto 0 auto;
	padding: 25px 0 0 0;
	width: 67%;
}

.news_list_box .more a {
	margin: 0 0 0 0;
	padding: 12px 5px;
	line-height: 1.2em;
	font-size: 14px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}


/**
 * news
**/
.news_box {
	margin: 0 auto 0 auto;
	padding: 35px 0 85px 0;
	width: 94%;
	max-width: 950px;
	text-align: left;
	overflow: hidden;
}

.news_box .cat {
	margin: 0 12px 10px 0;
	padding: 3px 5px;
	line-height: 1.2em;
	font-size: 10px;
	float: left;
	display: inline;
}

.news_box .cat.pressrelease {
	color: #ffffff;
	background: #383e81;
}

.news_box .cat.maintenance {
	color: #ffffff;
	background: #2c5e3a;
}

.news_box .cat.topic {
	color: #ffffff;
	background: #ab121e;
}

.news_box .cat.news {
	color: #ffffff;
	background: #3b86b6;
}

.news_box .update {
	margin: 0 0 10px 0;
	padding: 2px 0;
	line-height: 1.2em;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	display: inline;
}

.news_box .head {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	line-height: 1.4em;
	font-size: 20px;
	font-weight: bold;
	clear: both;
}

.news_box .image {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}

.news_box .desc {
	margin: 0 0 35px 0;
	padding: 0 0 0 0;
	line-height: 1.5em;
	font-size: 14px;
	overflow: hidden;
}

.news_box .desc h4 {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	line-height: 1.5em;
	font-size: 17px;
	font-weight: bold;
}

.news_box .desc p {
	margin: 0 0 35px 0;
	padding: 0 0 0 0;
}

.news_box .more {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 67%;
}

.news_box .more a {
	margin: 0 0 0 0;
	padding: 12px 5px;
	line-height: 1.2em;
	font-size: 14px;
	color: #19191b;
	text-align: center;
	text-decoration: none;
	border: 1px solid #191a1c;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display: block;
}



.order_box {
	margin: 0 auto 0 auto;
	padding: 60px 0 60px 0;
	width: 94%;
	max-width: 1313px;
	text-align: left;
}

.order_box h2 {
	margin: 0 auto 65px auto;
	padding: 0 0 0 0;
	max-width: 142px;
}

.order_box .wrap {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	position: relative;
}

.order_box .wrap h3 {
	margin: 0 0 0 0;
	padding: 0 0 40px 0;
	max-width: 233px;
	position: inherit;
	top: inherit;
	left: inherit;
}

.order_box .wrap .flow_wrap01 {
	
}

.order_box .wrap .box {
	width: 100%;
}

.order_box .wrap .flow_wrap01 .box {
	float: none;
}

.order_box .wrap .flow_wrap02 .box {
	float: none;
}

.order_box .wrap .flow_wrap03 .box {
	float: none;
}

.order_box .wrap .flow_wrap04 .box {
	float: none;
}

.order_box .wrap .box .image {
	width: 100%;
	max-width: 100%;
}

.order_box .wrap .flow_wrap01 .box .image {
	float: none;
}

.order_box .wrap .flow_wrap02 .box .image {
	float: none;
}

.order_box .wrap .flow_wrap03 .box .image {
	width: 100%;
	max-width: 100%;
	float: none;
}

.order_box .wrap .flow_wrap04 .box .image {
	float: none;
}

.order_box .wrap .box .info {
	padding: 0 0 10px 0;
	width: 100%;
}

.order_box .wrap .flow_wrap01 .box .info {
	float: none;
}

.order_box .wrap .flow_wrap02 .box .info {
	float: none;
}

.order_box .wrap .flow_wrap03 .box .info {
	float: none;
}

.order_box .wrap .flow_wrap04 .box .info {
	float: none;
}

.order_box .wrap .flow_wrap01 .box .info dl {
	min-height: 0;
}

.order_box .wrap .flow_wrap02 .box .info dl {
	min-height: 0;
}

.order_box .wrap .flow_wrap03 .box .info dl {
	min-height: 0;
}

.order_box .wrap .flow_wrap04 .box .info dl {
	min-height: 0;
}

.order_box .wrap .box .info dt {
	padding: 0 0 5px 0;
	line-height: 1.4em;
	font-size: 17px;
	font-weight: bold;
	color: #2c2c2d;
}

.order_box .wrap .box .info dd {
	line-height: 1.5em;
	font-size: 14px;
	color: #19191b;
}

.order_box .wrap .box .info .image01 {
	margin: 0 auto;
	max-width: 182px;
}

.order_box .wrap .box .info .image02 {
	margin: 0 auto;
	max-width: 254px;
}

.order_box .wrap .box .info .image03 {
	margin: 0 auto;
	max-width: 299px;
}

.order_box .wrap .box .info .image04 {
	margin: 0 auto;
	max-width: 273px;
}

.order_box .wrap .image05 {
	margin: 0 2.6% 0 0;
	width: 36%;
	max-width: 471px;
	float: right;
	display: inline;
}

.order_box .wrap .image06 {
	margin: 0 0 0 2.6%;
	width: 35.2%;
	max-width: 462px;
	float: left;
	display: inline;
}

.order_box .wrap .image07 {
	margin: 0 0 0 0;
	width: 40%;
	max-width: 517px;
	float: right;
	display: inline;
}

.order_box .wrap .arrow01 {
	margin: 0 auto 15px auto;
	width: 65px;
	height: 37px;
	overflow: hidden;
	position: relative;
}

.order_box .wrap .arrow02 {
	margin: 0 auto 15px auto;
	width: 65px;
	height: 37px;
	overflow: hidden;
	position: relative;
}







	
}