<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>お知らせステータス編集</h2>
    <div class="section">
      <%= form_for [:ar_admin, @information_status], :html => {:multipart => true} do |f| %>
        <% if @information_status.errors.any? %>
          <div class="finish">
            <p>入力内容に<em>エラー</em>があります。</p>
          </div>
        <% end %>

        <table class="form_area">
          <tr>
            <th scope="row">お知らせステータス名</th>
              <td><%= f.text_field :name, :class => 'text1' %><p class="notes">上限30文字</p>
              <%= error_on(:information_status, :name) %>
              </td>
          </tr>
          <tr>
            <th scope="row">お知らせステータス画像 </th>
              <td><%= f.file_field :image %>
              <% if @information_status.image.present? %>
              <%= image_tag @information_status.image_url(:thumb).to_s %><br />
              <%= f.hidden_field :image_cache %>
              <%= f.check_box :remove_image %><%= f.label :remove_image, '画像を削除する'%>
              <% end %>
              </td>
          </tr>
        </table>
          <p class="change"><input type="image" src="/images/ar_admin/form/btn_change.jpg" alt="変更する" class="nav" /></p>
      <% end %>
    </div>
  </div>
</body>