<body>
  <div id="wrapper">
    <%= render '/ar_admin/header' %>
    <h2>お知らせステータス管理</h2>
    <div class="section">
      <%= form_for [:ar_admin, @information_status], :html => {:multipart => true} do |f| %>
        <% if @information_status.errors.any? %>
          <div class="finish">
            <p>入力内容に<em>エラー</em>があります。</p>
          </div>
        <% end %>
        <table class="form_area">
          <tr>
            <th scope="row">お知らせステータス名</th>
              <td><%= f.text_field :name, :class => 'text1' %><p class="notes">上限30文字</p>
              <%= error_on(:information_status, :name) %>
              </td>
          </tr>
          <tr>
            <th scope="row">お知らせステータス画像 </th>
              <td><%= f.file_field :image %></td>
          </tr>
        </table>
        <p class="change"><input type="image" alt="登録する" class="nav" /></p>
      <% end %>
    </div>

    <div class="section">
      <table class="status_list">
        <tr>
          <th scope="col" class="pic">お知らせステータス画像</th>
          <th scope="col" class="name">お知らせステータス名</th>
          <th scope="col" class="method">処理</th>
        </tr>
        <% for information_status in @information_statuses %>
          <tr>
            <td scope="col"><%= image_tag information_status.image_url(:thumb).to_s if information_status.image.present? %></td>
            <td scope="col"><%= information_status.name %></td>
            <td scope="col" class="method">
            <%= link_to '編集', [:edit, :ar_admin, information_status] %><br />
            <%= link_to '削除', [:ar_admin, information_status], data: {:confirm => '削除すると、元に戻すことはできません。削除してよろしいですか？'}, :method => :delete  %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</body>