<header id="header">
	<div class="wrap">
		<h1><%=link_to "IKEMEN UP", root_path %></h1>
		<nav id="navi" class="clearfix">
			<ul class="clearfix">
				<li><%=link_to "機能", tops_function_path %></li>
				<li><%=link_to "料金", tops_price_path %></li>
				<li><%=link_to "お知らせ", news_index_path %></li>
				<li><%=link_to "よくある質問", tops_faq_path %></li>
				<li><%=link_to "お問い合わせ", new_contact_path %></li>
			</ul>
		</nav>
	</div>
</header>